*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    height: 100px;
    padding: 0 1rem 0 1rem;
}
.logo__img{
    width:80px;
    /* object-fit: cover; */
}

.nav__items{
    
    display: flex;
    flex-direction: row;
}

.nav__list{
padding: 0 2rem 0 2rem;
list-style: none;
font-size: 2rem;
}

.hero__h1{
    padding: 5rem;
    
    font-size: 5rem;
}
.hero__list{
   padding:0 5rem 0 5rem
    
}
.hero__list>li{
    list-style: none;
    text-align: left;
    font-size: 2rem;
    margin-top: 1rem;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: azure;
}